In [1]:
import json
import pandas as pd
from User import User
import random
import numpy as np
import Simulation

%load_ext autoreload
%autoreload 2

In [2]:
# parameters_dict = json.loads("""{
#   "numUsers": 100,
#   "tickLimit": 10000,
#   "postChance": 0.1,
#   "topics": ["Privacy", "Public Transport"]
# }""")

# type(parameters_dict["topics"])

In [3]:
users = pd.Series([User(i) for i in range(10)])
users

0    <User.User object at 0x000001D85AB2C6D8>
1    <User.User object at 0x000001D85AB2C710>
2    <User.User object at 0x000001D85AB2C748>
3    <User.User object at 0x000001D85AB2C7B8>
4    <User.User object at 0x000001D85AB2C7F0>
5    <User.User object at 0x000001D85AB2C828>
6    <User.User object at 0x000001D85AB2C860>
7    <User.User object at 0x000001D85AB2C898>
8    <User.User object at 0x000001D85AB2C8D0>
9    <User.User object at 0x000001D85AB2C908>
dtype: object

In [4]:
# df = pd.DataFrame(columns = ["user", "topic"])
# for i in range(100):
#     df.loc[df.shape[0]+1] = {'user': 1, "topic": "Bruh"}
# %timeit df.loc[df.shape[0]] = {'user': 1, "topic": "Bruh"}
# %timeit df.append({'user': 1, "topic": "Bruh"}, ignore_index=True)

In [5]:
pd.Series([True, False]).sample(weights=[0.1, 0.9])

1    False
dtype: bool

In [6]:
topics = ["Privacy", "Public Transport"]
values = (
    pd.DataFrame(np.random.rand(users.size, len(topics)) * 20 - 10,
                 index = users.index,
                 columns = topics)
)
deltas = (
    pd.DataFrame(np.random.rand(users.size, len(topics)) * 20 - 10,
                 index = users.index,
                 columns = topics)
)
test_users = {}
values

    Privacy  Public Transport
0  6.919432         -1.793599
1  3.218320          2.757529
2 -2.363370         -1.059821
3 -2.258788          4.057557
4  0.398958          3.948671
5  9.537877         -6.905367
6  8.849571         -7.603097
7 -0.703380         -5.017009
8 -2.682900         -6.934189
9 -6.323327          8.164920

In [7]:
np.random.rand(users.size, len(topics)) * 20 - 10

array([[ 1.56874498,  5.36444297],
       [ 0.16001779, -9.97427969],
       [-3.94195198,  0.64962112],
       [ 2.24810307,  9.96345128],
       [ 6.07380448,  7.35160467],
       [-5.73273955,  7.18402601],
       [-3.29282826,  1.51973809],
       [-1.20646515,  0.7095187 ],
       [ 7.21746303,  5.16346645],
       [ 0.15488356,  7.81059474]])

In [8]:
dic = set()
dic.update(pd.Series(users.index).sample(5))
dic

{4, 5, 6, 8, 9}

In [9]:
deltas

    Privacy  Public Transport
0 -5.684888          3.467084
1 -2.205640          4.366618
2  3.440608         -0.451267
3  1.788814         -0.788683
4 -0.331159         -6.288004
5 -1.688419          6.175798
6 -1.413084         -8.097614
7 -6.980694         -6.771360
8 -8.626880          3.031329
9  0.573839          7.070825

In [10]:
values.loc[dic]

    Privacy  Public Transport
4  0.398958          3.948671
5  9.537877         -6.905367
6  8.849571         -7.603097
8 -2.682900         -6.934189
9 -6.323327          8.164920

In [11]:
deltas.loc[dic, "Privacy"] += values.loc[dic, "Privacy"]

In [12]:
deltas

     Privacy  Public Transport
0  -5.684888          3.467084
1  -2.205640          4.366618
2   3.440608         -0.451267
3   1.788814         -0.788683
4   0.067799         -6.288004
5   7.849457          6.175798
6   7.436486         -8.097614
7  -6.980694         -6.771360
8 -11.309780          3.031329
9  -5.749488          7.070825

In [13]:
values.loc[5, "Privacy"]

9.53787665245644

In [14]:
deltas.clip(-10, 10)

     Privacy  Public Transport
0  -5.684888          3.467084
1  -2.205640          4.366618
2   3.440608         -0.451267
3   1.788814         -0.788683
4   0.067799         -6.288004
5   7.849457          6.175798
6   7.436486         -8.097614
7  -6.980694         -6.771360
8 -10.000000          3.031329
9  -5.749488          7.070825

In [18]:
sim = Simulation.Simulation("test_param.json")
sim.run()

Beginning tick 0
Beginning tick 1
Beginning tick 2
Beginning tick 3
Beginning tick 4
Beginning tick 5
Beginning tick 6
Beginning tick 7
Beginning tick 8
Beginning tick 9
Beginning tick 10

In [ ]:
class Test:
    VALUE = 1
    
    def __init__(self):
        print(Test.VALUE)
        
Test.VALUE

In [ ]:
with open("test_param.json", 'r') as text:
    json.loads(text.read())

In [ ]:
json.loads?

In [ ]:
random?