In [1]:
import json
import pandas as pd
from User import User
import random
import numpy as np
from Simulation import Simulation

%load_ext autoreload
%autoreload 2

In [2]:
# parameters_dict = json.loads("""{
#   "numUsers": 100,
#   "tickLimit": 10000,
#   "postChance": 0.1,
#   "topics": ["Privacy", "Public Transport"]
# }""")

# type(parameters_dict["topics"])

In [3]:
sim = Simulation("test_param.json")
sim.run()

Beginning tick 0
Beginning tick 1
Beginning tick 2
Beginning tick 3
Beginning tick 4
Beginning tick 5
Beginning tick 6
Beginning tick 7
Beginning tick 8
Beginning tick 9
Beginning tick 10
Finshed.

In [4]:
pd.read_csv("post record.csv", ).head()

   user             topic  tick
0     8           Privacy     0
1    10           Privacy     0
2    26           Privacy     0
3    27  Public Transport     0
4    36  Public Transport     0

In [5]:
values = pd.read_csv("values record.csv")
values

     Privacy  Public Transport  tick  user  100
0   2.132606         -1.923458     0     0  NaN
1  -4.441031         -0.941970     0     1  NaN
2  -6.715487         -1.369682     0     2  NaN
3  -4.566832          4.515624     0     3  NaN
4   9.721858         -6.280670     0     4  NaN
5  -8.276582          0.551818     0     5  NaN
6   7.171810         -1.968636     0     6  NaN
7   9.118971          6.895052     0     7  NaN
8   3.613701         -7.252457     0     8  NaN
9  -2.918361         -9.719863     0     9  NaN
10  7.273400         -0.934317     0    10  NaN
11 -1.146020         -9.457113     0    11  NaN
12  1.773436         -4.954079     0    12  NaN
13 -2.429887          7.328376     0    13  NaN
14 -7.533626          9.164488     0    14  NaN
15 -4.629212         -1.639048     0    15  NaN
16 -7.898970          9.718146     0    16  NaN
17 -7.345270          0.404436     0    17  NaN
18  8.007438         -2.209114     0    18  NaN
19 -8.513272         -2.345774     0    19  NaN
20  5.180113          3.184897     0    20  NaN
21  4.734929         -5.763676     0    21  NaN
22 -6.763506         -5.936416     0    22  NaN
23 -1.507826          4.733600     0    23  NaN
24  6.697281         -0.320560     0    24  NaN
25  6.002227         -1.517568     0    25  NaN
26 -2.676709          0.492844     0    26  NaN
27 -8.115289         -0.881181     0    27  NaN
28  0.160072         -8.751204     0    28  NaN
29  4.118318         -7.264660     0    29  NaN
..       ...               ...   ...   ...  ...
70  2.007882         -8.956605     0    70  NaN
71  8.793558         -3.613259     0    71  NaN
72  8.487376          5.465736     0    72  NaN
73  4.880399          4.750130     0    73  NaN
74 -5.866121         -9.400400     0    74  NaN
75  3.836597          5.527050     0    75  NaN
76  5.659781          5.870068     0    76  NaN
77  1.343155          2.314173     0    77  NaN
78  2.455140          0.631321     0    78  NaN
79 -7.751067          1.377960     0    79  NaN
80  5.919400         -3.619671     0    80  NaN
81  2.185184         -8.440361     0    81  NaN
82  4.868794         -2.088006     0    82  NaN
83 -2.398243          2.984541     0    83  NaN
84 -6.670230          0.152668     0    84  NaN
85 -4.788936          5.915951     0    85  NaN
86 -1.848751         -8.813365     0    86  NaN
87  7.080216         -3.028060     0    87  NaN
88  7.224941         -2.966111     0    88  NaN
89 -6.577355          6.527905     0    89  NaN
90  7.712893         -0.499891     0    90  NaN
91  8.307334          8.961711     0    91  NaN
92  4.487765         -7.622196     0    92  NaN
93  9.856331          0.580495     0    93  NaN
94  0.980421         -4.709651     0    94  NaN
95  8.917083         -0.242777     0    95  NaN
96  7.797222          1.439795     0    96  NaN
97  5.630278         -8.616284     0    97  NaN
98 -6.887954          6.997506     0    98  NaN
99 -9.515374          4.405139     0    99  NaN

[100 rows x 5 columns]

In [ ]:
users = pd.Series([User(i) for i in range(10)])

In [ ]:
pd.Series([True, False]).sample(weights=[0.1, 0.9])

In [ ]:
topics = ["Privacy", "Public Transport"]
values = (
    pd.DataFrame(np.random.rand(users.size, len(topics)) * 20 - 10,
                 index = users.index,
                 columns = topics)
)
deltas = (
    pd.DataFrame(np.random.rand(users.size, len(topics)) * 20 - 10,
                 index = users.index,
                 columns = topics)
)
test_users = {}
values

In [ ]:
values.loc['Privacy']

In [ ]:
df = pd.DataFrame(columns=["Privacy", "Public Transport"])

class Test:
    def append(self, row):
        df.loc[df.shape[0]] = row
        
t = Test()

%timeit values.apply(t.append, axis = 1)

In [ ]:
# values.apply(t.append, axis = 1)
# df

In [ ]:
np.random.rand(users.size, len(topics)) * 20 - 10

In [ ]:
dic = set()
dic.update(pd.Series(users.index).sample(5))
dic

In [ ]:
deltas

In [ ]:
values.loc[dic]

In [ ]:
deltas.loc[dic, "Privacy"] += values.loc[dic, "Privacy"]

In [ ]:
deltas

In [ ]:
values.loc[5, "Privacy"]

In [ ]:
deltas.clip(-10, 10)

In [ ]:
with open("test_param.json", 'r') as text:
    json.loads(text.read())

In [ ]:
json.loads?

In [ ]:
random?

In [ ]:
# s = set([1,2,3])
s.remove(1)
s