In [22]:
import json
import pandas as pd
from User import User

In [23]:
# parameters_dict = json.loads("""{
#   "numUsers": 100,
#   "tickLimit": 10000,
#   "postChance": 0.1,
#   "topics": ["Privacy", "Public Transport"]
# }""")

# type(parameters_dict["topics"])

In [27]:
users = [User(i) for i in range(3)]
users

In [51]:
df = pd.DataFrame(columns = ["user", "topic"])
for i in range(100):
    df.loc[df.shape[0]+1] = {'user': 1, "topic": "Bruh"}
df

    user topic
1      1  Bruh
2      1  Bruh
3      1  Bruh
4      1  Bruh
5      1  Bruh
6      1  Bruh
7      1  Bruh
8      1  Bruh
9      1  Bruh
10     1  Bruh
11     1  Bruh
12     1  Bruh
13     1  Bruh
14     1  Bruh
15     1  Bruh
16     1  Bruh
17     1  Bruh
18     1  Bruh
19     1  Bruh
20     1  Bruh
21     1  Bruh
22     1  Bruh
23     1  Bruh
24     1  Bruh
25     1  Bruh
26     1  Bruh
27     1  Bruh
28     1  Bruh
29     1  Bruh
30     1  Bruh
..   ...   ...
71     1  Bruh
72     1  Bruh
73     1  Bruh
74     1  Bruh
75     1  Bruh
76     1  Bruh
77     1  Bruh
78     1  Bruh
79     1  Bruh
80     1  Bruh
81     1  Bruh
82     1  Bruh
83     1  Bruh
84     1  Bruh
85     1  Bruh
86     1  Bruh
87     1  Bruh
88     1  Bruh
89     1  Bruh
90     1  Bruh
91     1  Bruh
92     1  Bruh
93     1  Bruh
94     1  Bruh
95     1  Bruh
96     1  Bruh
97     1  Bruh
98     1  Bruh
99     1  Bruh
100    1  Bruh

[100 rows x 2 columns]

In [48]:
df.loc[df.shape[0]] = {'user': 1, "topic": "Bruh"}
df

  user topic
1    1  Bruh
2    1  Bruh
3    1  Bruh
4    1  Bruh

In [53]:
%timeit df.loc[df.shape[0]] = {'user': 1, "topic": "Bruh"}

389 µs ± 19.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [56]:
%timeit df.append({'user': 1, "topic": "Bruh"}, ignore_index=True)

1.2 ms ± 14.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)